body {
  font-family: Lora, Georgia, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  color: #837246;
  text-decoration: none;
}

a:hover {
  color: #777;
}

iframe {
  width: 100%;
}

figure {
  padding: 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #ddd;
}

figure:last-child {
  border-bottom: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin: 0;
}

h1,
h2 {
  font-family: Oswald, Impact, Roboto, sans-serif;
}

h2 {
  font-size: 32px;
  line-height: 120%;
}

h3 {
  color: #999;
  font-style: italic;
}

header {
  text-align: center;
  padding: 60px 7%;
}

header p {
  font-size: 24px;
  color: #777;
}

#logo {
  margin: auto;
  text-align: center;
  width: 70px;
  border: 0;
}

.row {
  min-height: 300px;
  border-top: 1px solid #ccc;
  padding: 60px 7%;
}

.summary {
  max-width: 480px;
  float: left;
  width: 35%;
  padding-right: 5%;
}

.graphics {
  width: 55%;
  padding-left: 5%;
  float: left;
}

.graphics img {
  max-width: 100%;
}

.clearfix {
  clear: both;
  float: none;
}

@media (max-width: 700px) {
  .summary,
  .graphics {
    float: none;
    padding: 0;
    width: 100%;
  }
}